{% extends "base_generic.html" %}

{% block content %}


<p><font size="8"><strong>Welcome to <em>Game Market</em></strong></font></p>


<font size="6">The Game Market has the following record counts:</font>
<ul>
	<li><strong>Genres:</strong> {{ num_genres }}</li>
	<li><strong>Game:</strong> {{ num_games }}</li>
	<li><strong>Tags:</strong> {{ num_tags }}</li>
	{% if user.is_authenticated %}
<!-- 	<li><strong>Login Times:</strong> {{ num_visits }}</li>
-->	<li><strong>Till Next Award:</strong> {{ 	till_next_reward_amount }}</li>
</ul>
<font size="6">RECOMMENDED GAMES: </font >

	{% for game in games_rcmd.all %}

		<li> <a href="{{ game.get_absolute_url }}">{{ game.name }}</a> </li>


	{% endfor %}

	<br></br>
	<font size="6">FEATURED GAMES: </font >
		{% for fg in featured_games.all %} 

			<li><strong>Game Image:<img src="{{ fg.picture.url }}"/></strong> <br></br> </li>
			<li><strong>Game Title:{{fg.name}}</strong> <br></br></li>
			<li><strong>Game Description:{{fg.description}}</strong> <br></br></li>
			<li><p> <strong> Game Platform:
				{% for p in fg.platform.all %} 
				{{ p.name }}
			</li>
			{% endfor %}</strong></p>  
			<li><p> <strong> Game Genre:
				{% for g in fg.genre.all %} 
				{{ g.name }}</li>
				{% endfor %}</strong></p>  
				<li><strong>Game Price:{{fg.price}}</strong> <br></br>
					{% endfor %}</p> </li> 






				<font size="6"><p><strong>REWARD INFO:</strong> </p></font >
				<script>
					var index = 1;
				</script>



				{% for reward in rewards.all %} 

				<h1>NO. <script>
					document.write(index);
				</script> Reward</h1>
				Assigned Date:{{reward.date}}<br></br>
				Due Date:{{reward.due_date}}<br></br>
				Status:{{reward.status}}<br></br>
				<script>
					index = index+1;
				</script>
				{% endfor %}</p>  





				{% endif %} 






				<!-- <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p> -->

				{% endblock %}


