{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ game.name }}</h1>


  <p><strong>Descirption:</strong> {{ game.description }}</p> 
  <p><strong>Price:</strong> {{ game.price }}</p>  
  <strong>Image:<img src="{{ game.picture.url }}"/></strong> <br></br>
  <p><strong>Platform:</strong> 

  {% for p in game.platform.all %} 
  {{ p.name }}
   {% endfor %}</p>  
  <p><strong>Genre:</strong> 

  {% for genre in game.genre.all %} 
  {{ genre }}
  {% if not forloop.last %},
   {% endif %}
   {% endfor %}</p>  



 <div style="margin-left:20px;margin-top:20px">
    <h4>Its tages</h4>

    {% for t in game.tag_set.all %}

    <hr>
<!--     <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p> -->
    <p class="text-muted"><strong>Tag:</strong> #{{t.name}}</p>

    {% endfor %}
  </div>

<script type="text/javascript"></script>>
{% if user.is_authenticated %}





<li><a href="{{ game.get_purchase_url }}">Buy It!!!</a>
<li><a href="{{ game.get_addTag_url }}">Add Tag</a>
<!-- <li><a href="{{ game.get_addReview_url }}">Add Review</a> -->
{% endif %}     

  <div style="margin-left:20px;margin-top:20px">
    <h4>Sold in Transactions</h4>

    {% for t in game.transaction_set.all %}

    <hr>
<!--     <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p> -->
    <p class="text-muted"><strong>Id:</strong> #{{t.id}}</p>

    {% endfor %}
  </div>
{% endblock %}