{% extends "base_generic.html" %}

{% block content %}
    <h1>Transaction Records</h1>

    {% if transaction_list %}
    <ul>
<script>
  var index = 1;
</script>
      {% for transaction in transaction_list %} 
<!--       class="{% if bookinst.is_overdue %}text-danger{% endif %}"
 -->     
No <script>
  document.write(index);
</script>. Transaction
<script>
  index = index+1;
</script>
 Orign Price: {{transaction.display_origin_price }} Trading Price: {{transaction.display_trading_price}}

      {% for game in transaction.game.all %} 
  <li >
      <a href="{% url 'game-detail' game.pk %}">{{game.name}}</a> 
      </li>

      {% endfor %}
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no games bought.</p>
    {% endif %}       
{% endblock %}